#page-channel-manage {
  .sea-box-one {
    .info {
      width: 100%;
      margin-right: 10px;
      .title {
        display: flex;
        align-items: center;
        .sea-channel {
          margin-left: 20px;
        }
        .delete {
          margin-left: auto;
        }
        .switch {
          margin-left: 20px;
        }
      }
      .tip-box {
        background: #e0e6ec;
        border-radius: 4px;
        list-style: auto;
        color: #7a8895;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 16px;
        .one {
          margin: 10px 16px;
          border-radius: 40px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          background: #ffffff83;
          padding: 12px 20px;
          .sea-role {
            margin: 5px;
          }
        }
      }
    }
    .select {
      min-width: 300px;
    }
  }
}
