.page-channel-manage {
  h3 {
    padding: 20px 0;
  }
  .roleInfo {
    display: flex;
    align-items: center;
    h3 {
      margin-right: 20px;
    }
    .switch {
      margin-left: auto;
    }
  }
  .roleTip {
    padding: 20px;
    background: #e0e6ec;
    border-radius: 4px;
    list-style: auto;
    color: #7a8895;
    display: flex;
    align-items: center;
    .roleTipOne {
      border-radius: 40px;
      display: flex;
      align-items: center;
      background: #ffffff83;
      padding: 12px 20px;
    }
    .roleTipOne + .roleTipOne {
      margin-left: 32px;
    }
  }
  h5 {
    color: #7a8895;
  }
  .newRequirement {
    padding: 20px;
    margin-top: 40px;
    border: 1px dashed #7a8895;
    border-radius: 10px;
  }
  .save {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
