#page-channel-manage {
  .info {
    display: flex;
    align-items: center;
    .sea-channel {
      margin-left: 20px;
    }
    .switch {
      margin-left: auto;
    }
  }
  .tip-box {
    padding: 20px;
    background: #e0e6ec;
    border-radius: 4px;
    list-style: auto;
    color: #7a8895;
    display: flex;
    align-items: center;
    .one {
      border-radius: 40px;
      display: flex;
      align-items: center;
      background: #ffffff83;
      padding: 12px 20px;
      > .sea-icon {
        font-size: 32px;
      }
      .sea-role {
        margin-left: 20px;
      }
    }
    .one + .one {
      margin-left: 32px;
    }
  }
  .select {
    min-width: 300px;
  }
}
