// components
@import '../components';
// pages
@import './index';
@import './channel-manage';
@import './login';

// global scss
#unipass-bot {
  h3 {
    padding: 20px 0;
  }
  h5 {
    color: #7a8895;
  }
  // sea
  .sea-paper {
    padding: 20px;
  }
  .sea-paper + .sea-paper {
    margin-top: 20px;
  }
  .sea-operation-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    > * {
      margin-top: 8px;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
  .sea-box-one {
    border: 2px solid #e0e6ec;
    border-radius: 24px;
    .save {
      margin-top: 32px;
      display: flex;
      justify-content: center;
      .submit {
        padding-left: 120px;
        padding-right: 120px;
      }
    }
  }
  .sea-box-one::before {
    display: none;
  }
  .sea-box-one + .sea-box-one {
    margin-top: 40px;
  }
  .sea-new-box {
    text-align: center;
    margin-top: 24px;
  }
  .sea-h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
}
// antd
@keyframes MessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}
.ant-message {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: fixed;
  top: 8px;
  left: 0;
  z-index: 1200;
  width: 100%;
  pointer-events: none;
}
.ant-message-notice {
  padding: 8px;
  text-align: center;
}
.ant-message-notice-content {
  display: inline-block;
  padding: 10px 16px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: all;
}
.ant-message-success .anticon {
  color: #52c41a;
}
.ant-message-error .anticon {
  color: #ff4d4f;
}
.ant-message-warning .anticon {
  color: #faad14;
}
.ant-message-info .anticon,
.ant-message-loading .anticon {
  color: #1890ff;
}
.ant-message .anticon {
  position: relative;
  top: 1px;
  margin-right: 8px;
  font-size: 16px;
}
.ant-message-notice.ant-move-up-leave.ant-move-up-leave-active {
  animation-name: MessageMoveOut;
  animation-duration: 0.3s;
}
