// components
@import '../components';
// pages
@import './index';
@import './channel-manage';
@import './login';

// global scss
#unipass-bot {
  h3 {
    padding: 20px 0;
  }
  h5 {
    color: #7a8895;
  }
  // sea
  .sea-paper {
    padding: 20px;
  }
  .sea-paper + .sea-paper {
    margin-top: 20px;
  }
  .sea-operation-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    > * {
      margin-top: 8px;
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
  .sea-box-one {
    border: 2px solid #e0e6ec;
    padding: 20px;
    border-radius: 24px;
  }
  .sea-box-one + .sea-box-one {
    margin-top: 40px;
  }
  .sea-new-box {
    text-align: center;
    margin-top: 24px;
  }
}
