.role {
  h3 {
    padding: 20px 0;
  }
  .roleInfo {
    display: flex;
    align-items: center;
    h3 {
      margin-top: 0;
      margin-right: 20px;
    }
    .switch {
      margin-left: auto;
    }
  }
  .roleTip {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: revert;
    padding-right: revert;
    background: #e0e6ec;
    border-radius: 4px;
    list-style: auto;
    color: #7a8895;
  }
  h5 {
    color: #7a8895;
  }
  .newRequirement {
    padding: 20px;
    margin-top: 40px;
    border: 1px dashed #7a8895;
    border-radius: 10px;
  }
  .save {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
